Django==1.9.4
django-kronos==0.9
python-social-auth==0.2.14
django-csp==2.0.3
-e git+https://github.com/adamalton/django-csp-reports.git#egg=django-csp-reports
celery==3.1.23
-e hg+https://bitbucket.org/sardarnl/gcm-client#egg=gcm-client
redis==2.10.5
django-redis-cache==1.6.5