{% extends "base.html" %}
{% load profiles %}
{% load static %}

{% block title %}Your Account{% endblock %}

{% block scripts %}
<script src="{% static 'profiles.js' %}"></script>
{% endblock %}

{% block content %}
<h1>Account Settings</h1>
<h2>Push Notifications</h2>
<p>You have {{browsers}} browsers and/or devices receiving notifications.</p>

{% if emails %}
<p>The following emails are receiving notifications:</p>
<ul>
{% for url, email in emails %}
<li data-url="{{url}}">
	<tt>{{email}}</tt>
	<button data-action=delete-email data-url="{{url}}" data-label="{{email}}"><span class="fa fa-trash"></span></button>
</li>
{% endfor %}
</ul>
{% endif %}

<button data-action=show-dialog data-dialog=dlg-addemail><span class="fa fa-plus"></span> Add email</button>

<dialog id="dlg-addemail">
    <button data-action=close><span class="fa fa-close"></span></button>
    <h3>Add Notification Email</h3>
    <p>Contact me at <input maxlength="128" id="email" type="email" placeholder="(email)" required></p>
	<button id="addemailbtn">Add</button>
</dialog>
{% endblock %}
