{% extends "base.html" %}
{% load profiles %}
{% load static %}

{% block title %}Your Stuff{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'things/jobs.css' %}">
{% endblock %}
{% block scripts %}
<script src="{% static 'things/jobs.js' %}"></script>
{% endblock %}

{% block content %}

<h2>Undone Jobs</h2>

{% if not jobs %}
<p>You have nothing to do! Maybe buy a hammock?</p>
{% else %}
<ul>
{% for j in jobs %}
<li>
	{{j.schedule.name}}
	<button data-jobid="{{j.id}}" data-action="finish-job"><span class="fa fa-check"></span> Finish</button>
</li>
{% endfor %}
</ul>
{% endif %}


{% endblock %}
