{% extends "base.html" %}
{% load profiles %}
{% load static %}

{% block title %}Your Stuff{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'things/jobs.css' %}">
{% endblock %}
{% block scripts %}
<script src="{% static 'things/jobs.js' %}"></script>
{% endblock %}

{% block content %}
<h1>Your Stuff</h1>
{% if not stuff %}
<p>You don't have any stuff! <a href="{% url 'things:addthing' %}">Add a thing!</a></p>
{% else %}
<ul>
{% for thing in stuff %}
<li><a href="{{thing.get_absolute_url}}">{{thing}}</a></li>
{% endfor %}
</ul>

<h2>Undone Jobs</h2>

<ul>
{% for j in jobs %}
<li>{{j}} <button data-jobid="{{j.id}}" data-action="finish-job">Finished!</button></li>
{% endfor %}
</ul>
{% endif %}

{% endblock %}
