{% extends "base.html" %}
{% load profiles %}
{% load static %}

{% block title %}Your {{object}}{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'things/jobs.css' %}">
{% endblock %}
{% block scripts %}
<script src="{% static 'things/jobs.js' %}"></script>
{% endblock %}

{% block content %}
<h1>
	{{object}}
	<button data-action=delete-thing data-thing="{{object.id}}" data-label="{{object.name}}"><span class="fa fa-trash"></span></button>
</h1>

<h2>Schedules</h2>
<ul>
{% for s in object.schedule_set.all %}
<li id="schedule-{{s.id}}">
	{{s}} every {{s.period.days}} days
	<button data-action=delete-schedule data-schedule="{{s.id}}" data-label="{{s.name}}"><span class="fa fa-trash"></span></button>
</li>
{% endfor %}
</ul>
<button data-action=show-dialog data-dialog=dlg-addschedule><span class="fa fa-plus"></span> Add</button>

<h2>Undone Jobs</h2>
<ul>
{% for j in undonejobs %}
<li>{{j}} <button data-jobid="{{j.id}}" data-action="finish-job"><span class="fa fa-check"></span> Finish</button></li>
{% endfor %}
</ul>

<dialog id="dlg-addschedule">
	<button data-action=close><span class="fa fa-close"></span></button>
	<h3>Add Schedule</h3>
    <form action="{% url 'things:addschedule' object.id %}" method=POST>
        {% csrf_token %}
        <p>I need to 
        	<input id="id_name" maxlength="128" name="name" type="text" placeholder="(verb)"> 
        	every 
        	<input id="id_period" name="period" type="number" placeholder="(number)"> 
        	days.</p>
	    <input type=submit value="Add">
    </form>
</dialog>

{% endblock %}
