button[data-action=finish-job] {
	margin: .7em;
}

button[data-action][disabled] {
	opacity: 0;
	visibility: hidden;
	transition: opacity 1.0s, visibility 1.0s;
}

button[data-action=close] {
	float: right;
}